{% extends 'base.html' %}

{% block content %}
    <div class="container">

        <div class="row" id="pwd-container">

            <div class="login text-align-center row desktop-8 padding-bottom-2 container">
                <section class="login-form">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert success">
                                <p>{{ message }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form method="post">

                        {% csrf_token %}
                        <div class="desktop-6">
                            {{ form.non_field_errors }}
                            <div class="form-row label-block input-text">
                                <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                                {{ form.username.errors }}
                                {{ form.username }}
                            </div>

                            <div class="form-row label-block input-text">
                                <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                                {{ form.password.errors }}
                                {{ form.password }}
                            </div>


                            <button type="submit" name="go" class="btn-basic">Entrar</button>
                        </div>

                    </form>
                </section>
            </div>

        </div>
    </div>
{% endblock %}
