{% extends 'base.html' %}
{% load static %}

{% block content %}


    <section id="matriculas">
        <div class="matriculas text-align-center row desktop-8 padding-bottom-2 container">
            <section class="matriculas-form">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button type="submit" name="go" class="btn-basic">Buscar</button>

                </form>
            </section>
        </div>

    </section>

    <section id="contra-cheques">
        <div class="contra-cheques text-align-center row desktop-8 padding-bottom-2 container">
            <section class="contra-cheques">
                <div class="list-group">
                    {% for contra_cheque in contra_cheques %}
                         <a class="list-group-item" href="{{ contra_cheque.url }}" target="_blank"> {{ contra_cheque.mes_extenso }}</a>
                    {% empty %}
                        <p class="list-group-item">Selecione uma matrícula com contracheques neste exercício.</p>
                    {% endfor %}
                </div>
            </section>
        </div>

    </section>

{% endblock content %}
