<header class="header header-inline min-h-3 row desktop-12 container" role="banner">

    <div class="site-logo">
        <h1><a href="{% url 'home' %}" rel="home">Folha Online</a></h1>
        <p class="site-description screen-reader-only"><--Redigir texto --></p>
    </div>

    <nav class="nav-inline" role="navigation">
        <a href="javascript:void(0);" class="nav-mobile"><i class="fa fa-bars"></i></a>
        <ul>
            {% if user.is_authenticated %}
                <li><a data-scroll href="{% url 'home' %}">Home</a></li>
                {% if user.is_admin %}
                <li><a data-scroll href="{% url 'upload_contra_cheque' %}">Upload Contra Cheque</a></li>
                {% endif %}
                <li><a data-scroll href="{% url 'logout' %}">Logout</a></li>

                <li><p> Usuário: {{ user.username }}</p></li>
            {% endif %}

        </ul>
    </nav>

</header>